::-webkit-input-placeholder {
    color: red;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}

:-moz-placeholder { /* Firefox 18- */
    color: red;  
    -moz-transform: rotate(45deg); 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
    -moz-transform: rotate(45deg); 
}

:-ms-input-placeholder {  
   color: red;
    transform: rotate(45deg);
}